body {
  margin: 0;

  @include grid-media($neat-grid-large) {
    display: flex;
  }
}

html {
  background-color: $white;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
