.anchor-reset {
  color: $base-body-color;
  font-size: 1em;
  font-weight: $base-font-weight;

  &:hover {
    color: $base-body-color;
  }
}

.anchor-reset--home {
	text-decoration: none;
}

.anchor-back {
	position: absolute;
	top: 0;
}

.anchor-body {
  font-size: 1em;
}
