.featured-content-heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: $large-spacing;
  font-weight: $strong-font-weight;

	@media only screen and (min-width: $small-screen) {
    font-size: $large-font-size;
  }
}
