.footer__content--copy {
  line-height: $base-line-height;
  grid-column: span 2;

  p {
    margin-bottom: $large-spacing;
  }
}

.footer__content--image {
  @media only screen and (max-width: $small-screen) {
    grid-column: span 2;

  }
}

.footer__closing {
  margin-top: $section-spacing;
}

.footer__image {
  max-width: 100%;
}

.footer__ingredients {
  font-size: $small-font-size;
  margin-top: $xsmall-spacing;
}
