.gradient-border-wrap {
  padding: $small-spacing;
	position: relative;
}

.gradient-border-wrap__module {
	background: $white;
  padding: $small-spacing;
  outline: 1px dashed $white;

  @media only screen and (min-width: $small-screen) {
    padding: $section-spacing;
  }
}

.gradient-border-wrap--first {
	background: linear-gradient(to right, tint($primary-tint, 70%), tint($primary-tint, 85%));
}

.gradient-border-wrap--second {
	background: linear-gradient(to right, tint($primary-tint, 60%), tint($primary-tint, 80%));
}

.gradient-border-wrap--third {
	background: linear-gradient(to right, tint($primary-tint, 10%), $second-stop);
}
