.heading-lockup {
	margin: $large-spacing 0;

	@media only screen and (min-width: $small-screen) {
   	margin: $xlarge-spacing 0;
  }
}

.heading-lockup__heading {
	color: $dusty-purple;
}

.heading-lockup__item {
	grid-gap: $large-spacing;
	padding: $large-spacing;

	@media only screen and (min-width: $small-screen) {
   	padding: $large-spacing $section-spacing;
  }
}

.heading-lockup--secondary {
	.heading-lockup__heading {
		color: $dusty-blue;
	}
}

.heading-lockup__subheading {
	font-size: $small-font-size;
	margin: 0;
	color: $copy-dimmed;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px solid $light-gray;
	margin-bottom: $small-spacing;
  letter-spacing: 1px;
}

.heading-lockup__heading {
	font-size: $base-font-size;
}

.heading-lockup__description {
	margin-top: $medium-spacing;
	font-size: $base-font-size;
	line-height: 1.5;
}
