.item-details__header {
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.item-details__description {
  color: $copy-dimmed;
  font-style: italic;
  margin-bottom: $base-spacing;
}

.item-details__role {
  margin-top: $xsmall-spacing;
  color: $copy-dimmed;
  text-transform: uppercase;
  font-size: $small-font-size;
  font-weight: 400;
}

.item-details__number {
  font-family: $number-font-family;
  font-weight: $black-font-weight;
  color: $copy-dimmed;
  font-size: $small-font-size;
  letter-spacing: 2px;
  border-bottom: 1px solid $light-gray;
  display: block;
}

.item-details__image {
  @extend .hvr-grow;
  width: 66%;

  img {
    width: 100%;
    -webkit-box-shadow: 14px 16px 21px -19px rgba($gray, 0.3);
    box-shadow: 14px 16px 21px -19px rgba($gray, 0.3);
  }
}

.item-details__2-col {
   display: grid;
   gap: $xlarge-spacing;
   grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: $small-screen) {
    gap: 5rem;

  }

  .item-details__image {
    margin-top: $base-spacing;
    width: 100%;
  }
}

.item-details--takeaways {
  background-color: $ice-blue;
  padding: $large-spacing;
  border-radius: $base-border-radius;
}
