.item-details__header {
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.item-details__description {
  color: $copy-dimmed;
  font-style: italic;
  margin-bottom: $base-spacing;
}

.item-details__role {
  margin-top: $small-spacing;
  color: $copy-dimmed;
  text-transform: uppercase;
  font-size: $small-font-size;
  font-weight: 400;
}

.item-details__number {
  font-family: $number-font-family;
  font-weight: $black-font-weight;
  color: $copy-dimmed;
  font-size: $small-font-size;
  letter-spacing: 1px;
  border-bottom: 1px solid $light-gray;
  display: block;
  padding-bottom: 0.25em;
}

.item-details__image {
  @extend .hvr-grow;
  width: 66%;

  img {
    width: 100%;
    -webkit-box-shadow: 0px 17px 16px -17px rgba($gray, 0.3);
    box-shadow: 0px 17px 16px -17px rgba($gray, 0.3);
  }
}

.item-details__image--phone {
  img {
    width: 60%;
  }

  @media only screen and (min-width: $small-screen) {
    img {
      width: 50%;
    }
  }
}

.item-details__3-col {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (min-width: $small-screen) {
    grid-column-gap: 2.5rem;
  }

  .item-details__copy {
    grid-area: 1 / 1 / 2 / 3;
  }

  .item-details__image {
    text-align: center;
    grid-area: 1 / 3 / 2 / 4;

    @media only screen and (max-width: $small-screen) {
      width: 100%;
    }
  }

  .item-details__image {
    margin-top: $base-spacing;
  }
}

.item-details--takeaways {
  background-color: $ice-blue;
  padding: $large-spacing;
  border-radius: $base-border-radius;
}

.item-details__link {
  line-height: $heading-line-height;
  font-size: 1rem;

   @media only screen and (min-width: $small-screen) {
    font-size: 1.5rem;
  }
}
