.section-content {
  background-color: $white;
  padding: $base-spacing;
  position: relative;

  @media only screen and (min-width: $small-screen) {
    padding: $section-spacing;
  }
}

.section-content--footer {
  background-color: transparent;
}

.section-content__heading {
  font-size: 2.5rem;
}

.section-content__heading--tilt {
  transform: rotate(-5deg);
  text-decoration: underline;

  @media only screen and (min-width: $small-screen) {
    margin-top: 0;
  }
}

.section-content--contact {
  @media only screen and (max-width: $small-screen) {
    padding: $base-spacing*2;
  }
}

.section-content__sub-heading {
  font-size: $medium-font-size;
  line-height: $base-line-height;
}
