.section-sub {
  // margin: $section-spacing $base-spacing;
  @media only screen and (min-width: $small-screen) {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
  }

  background-color: #f9f9f9;
  padding: 6rem 4rem;

  h3 {
    @media only screen and (min-width: $small-screen) {
      text-align: right;
    }
  }

  .section-container--artist & {
    background-color:  #fff9f8;
  }
}


.section-sub__list {
  display: grid;
  gap: 2rem;

  @media only screen and (min-width: $small-screen) {
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: span 3;
  }

  li {
    // display: inline-block;
    margin-bottom: 0;
    // background-color: yellow;
  }
}

.section-sub__list--4-col {
  @media only screen and (min-width: $small-screen) {
    // grid-template-columns: repeat(4, 1fr);
  }
}

.section-sub__list--2-col {
   @media only screen and (min-width: $small-screen) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-sub--tilt {
  @media only screen and (min-width: $small-screen) {
    // margin-top: 5rem;
  }
}

.section-sub--tilt-casestudy {
	 @media only screen and (max-width: $small-screen) {
    // margin-top: 2rem;
  }
}
