.section-container {
  padding: $xlarge-spacing $base-spacing;

  @media only screen and (min-width: $small-screen) {
    padding: $section-spacing $base-spacing $section-spacing $section-spacing;
  }
}

.section-container--hero {
  @media only screen and (min-width: $small-screen) {
    padding-bottom: 0;
  }
  h1 {
    @extend .hvr-float;
  }
}

.section-container--artist {
  .section-sub {
    background-color: $light-pink;
  }
}
