.section-content {
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-content--footer {
  display: grid;
  background-color: transparent;

  @media only screen and (min-width: $small-screen) {
    margin-top: $section-spacing;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 50vw;
  }
}

.section-content__client {
  font-family: $number-font-family;
  font-weight: $black-font-weight;
  color: $copy-dimmed;
  font-size: $small-font-size;
  letter-spacing: 1px;
  margin: 0 5px $base-spacing;
}

.section-content__heading {
  font-size: 2.25rem;
  margin-bottom: $base-spacing;
}

.section-content__heading--case-study {
  font-size: 2rem;
}

.section-content__subheading {
  margin-left: 5px;
  margin-bottom: $base-spacing;
  font-size: 2rem;
  font-family: $heading-font-family;
  line-height: $subheading-line-height;
  font-weight: $black-font-weight;
  text-transform: none;
  margin-top: 2rem;

  @media only screen and (min-width: $small-screen) {
    margin-top: 2.5rem;
    font-size: 2.5rem;
  }
}

.section-content--contact {
  @media only screen and (max-width: $small-screen) {
    padding: $base-spacing*2;
  }
}

.section-content__sub-heading {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media only screen and (min-width: $small-screen) {
    font-size: $medium-font-size;
  }
}

.section-content__wrapper {
  display: grid;
}
