.section-content {
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-content--footer {
  display: grid;
  background-color: transparent;

  @media only screen and (min-width: $small-screen) {
    margin-top: $section-spacing;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 50vw;
  }
}

.section-content__heading {
  font-size: 2.25rem;
  margin-bottom: $base-spacing;
}

.section-content__subheading {
  margin-left: 5px;
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
  font-size: 2.25rem;
  font-family: $heading-font-family;
  line-height: 1.1;
  font-weight: $black-font-weight;

  @media only screen and (min-width: $small-screen) {
    margin-top: 2.5rem;
    font-size: 2.5rem;
  }
}

.section-content--contact {
  @media only screen and (max-width: $small-screen) {
    padding: $base-spacing*2;
  }
}

.section-content__sub-heading {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media only screen and (min-width: $small-screen) {
    font-size: $medium-font-size;
  }
}

.section-content__wrapper {
  display: grid;
}
