.steps {
	padding: $large-spacing;
	margin: $xxlarge-spacing 0;

	@media only screen and (min-width: $small-screen) {
    padding: $xxlarge-spacing;
  }

  .heading-lockup__subheading {
		font-weight: $strong-font-weight;
	}
}

.steps__item {
	margin-bottom: $xlarge-spacing;

	&:last-child {
		margin-bottom: 0;
	}
}

.steps--og {
  border: 5px solid tint($dusty-purple, 90%);
	-webkit-box-shadow: 8px 8px 0px 0px tint($dusty-purple, 90%);
	-moz-box-shadow: 8px 8px 0px 0px tint($dusty-purple, 90%);
	box-shadow: 8px 8px 0px 0px tint($dusty-purple, 90%);

	@media only screen and (min-width: $small-screen) {
    -webkit-box-shadow: 15px 15px 0px 0px tint($dusty-purple, 90%);
		-moz-box-shadow: 15px 15px 0px 0px tint($dusty-purple, 90%);
		box-shadow: 15px 15px 0px 0px tint($dusty-purple, 90%);
  }
}

.steps--new {
    border: 5px solid tint($dusty-blue, 90%);
  -webkit-box-shadow: 8px 8px 0px 0px tint($dusty-blue, 90%);
  -moz-box-shadow: 8px 8px 0px 0px tint($dusty-blue, 90%);
  box-shadow: 8px 8px 0px 0px tint($dusty-blue, 90%);

  @media only screen and (min-width: $small-screen) {
    -webkit-box-shadow: 15px 15px 0px 0px tint($dusty-blue, 90%);
    -moz-box-shadow: 15px 15px 0px 0px tint($dusty-blue, 90%);
    box-shadow: 15px 15px 0px 0px tint($dusty-blue, 90%);
  }

  .heading-lockup__heading {
    color: $dusty-blue;
  }
}
