.takeaways {
	color: $copy-dimmed;
	line-height: 1.5;
	margin-top: $section-spacing;
	border-radius: $base-border-radius;

  h3 {
    margin-top: 0;
  }

	@media only screen and (min-width: $small-screen) {
		column-gap: $xlarge-spacing;
		grid-template-columns: repeat(3, 1fr);
	  display: grid;
    margin-top: 2*$section-spacing;
	}
}

.takeaways__heading {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin-bottom: $large-spacing;
  font-size: 2.25rem;
  font-family: $heading-font-family;
  line-height: 1.1;
  font-weight: $black-font-weight;
  text-transform: uppercase;
}

.takeaways__content {
	@media only screen and (max-width: $small-screen) {
		margin-bottom: $xlarge-spacing;
	}
}

.takeaways__subheading {
  font-size: $medium-font-size;
  font-weight: $strong-font-weight;
}
