---
title: Jaclyn Perrone - Thoughtbot Consulting Workshop Case Study
type: case study
---

<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <div class="article">
        <div class="section-content__header">
          <h2 class="section-content__heading section-content__heading--case-study">Case study</h2>
          <h3 class="section-content__client">Thoughtbot</h3>
          <h2 class="section-content__subheading">Creating a Consulting Workshop to Help Our Team Navigate Difficult Client Conversations</h2>
        </div>

        <ul class="tag-list">
          <li class="tag-list__item">🤖 Internal work</li>
          <li class="tag-list__item">🧠 Creator & facilitator</li>
          <li class="tag-list__item">🛠️ Workshop design</li>
          <li class="tag-list__item">🙌 Level up team</li>
        </ul>

        <h3 class="article__heading">01. Challenge</h3>

        <p>Consulting is hard. Having difficult conversations with clients (oftentimes on the fly) is extra hard. This pain point became a common theme brought up in my one-on-ones with designers, as well as in our monthly office chats. Developers and designers alike found consulting increasingly more difficult as their challenges became more and more complicated. Startup co-founders required a different consulting toolkit than the head of an innovation team in an enterprise. And more client developers, designers, and project managers added to a team meant more precise, deliberate, and transparent communication.</p>

        <p>These challenges sparked some questions: How do we level-up our team on consulting skills? How do we give our team the safe space needed to try out different responses and approaches to difficult conversations?</p>

        <h3 class="article__heading">02. Solution</h3>

        <p>I developed a Difficult Conversations roleplaying workshop that I ran with our entire team in Boston. I chose roleplaying because I find it’s the most effective way to practice these scenarios in a safe space, while still getting input, insight, and support from other team members. I wrote up a bunch of common scenarios, and had the team split up into small groups and role play two sides of the story: the client’s perspective and Thoughtbot’s perspective. I thought it was equally important that they also put themselves in the client’s shoes, to build empathy and rethink the situation through their eyes and motivations.</p>

        <div class="article__image-container">
          <div class="article__image ui">
            <%= image_tag "workshop-slide.jpg",
                :class => "border",
                :alt => "Slide" %>
          </div>
          <div class="article__caption">A slide demonstrating the role playing exercise</div>
        </div>

        <div class="">
          <ul class="scenario-table">
            <li class="scenario-table__item">
              <h4 class="scenario-table__heading">Scenario 1</h4>
              <ul class="scenario-table__content">
                <li class="scenario-table__col">
                  <h4 class="scenario-table__subheading">Client</h4>
                  Your team hired Thoughtbot to build your greenfield product and you’ve kicked off the engagement with a design sprint. We reached the prototype phase, and you are frustrated because we are essentially testing the idea you originally had. You wonder why we just spent three days figuring that out.
                </li>
                <li class="scenario-table__col">
                  <h4 class="scenario-table__subheading">Thoughtbot</h4>
                  You are in a design sprint, helping the client team gain consensus on an idea. They had differing opinions and a lot to hash out, but ultimately settled on a flow that they all agree with.
                </li>
              </ul>
            </li>
            <li class="scenario-table__item">
              <h4 class="scenario-table__heading">Scenario 2</h4>
              <ul class="scenario-table__content">
                <li class="scenario-table__col">
                  <h4 class="scenario-table__subheading">Client</h4>
                  You just wrapped up the design sprint and now the team is starting to design and build your product. You see the Trello board, and are concerned with the small amount of features that are considered MVP. You plan to tell the team in the next planning meeting that the features deemed “non-MVP” need to be in the MVP.
                </li>
                <li class="scenario-table__col">
                  <h4 class="scenario-table__subheading">Thoughtbot</h4>
                  Based on the feedback from the post-sprint user testing, you sit with the client team and help them prioritize features for the MVP. You are really delighted at how simple and concrete the MVP is–all the features make sense and are absolutely critical for getting it off the ground.
                </li>
              </ul>
            </li>
            <li class="scenario-table__item">
              <h4 class="scenario-table__heading">Scenario 3</h4>
              <ul class="scenario-table__content">
                <li class="scenario-table__col">
                  <h4 class="scenario-table__subheading">Client</h4>
                  The product build with Thoughtbot is just one of the many projects you have on your plate. You are pushed and pulled into different meetings and directions all week, and are late to respond to Thoughtbot’s requests for access to data, users, and accounts.
                </li>
                <li class="scenario-table__col">
                  <h4 class="scenario-table__subheading">Thoughtbot</h4>
                  You are blocked due to your inability to get in touch with the client. They rarely respond on Slack, they answer your emails after hours, and are slow to fulfill your requests for access to a variety of things. Because of this, velocity is low and you know that the project is at risk.
                </li>
              </ul>
            </li>
        </div>

        <h3 class="article__heading">03. Outcome</h3>

        <p>This workshop was well-received, and my teammates really appreciated the role playing exercises and time dedicated to acknowledging and working through difficult conversations. They liked taking on the client’s perspective as well as their own, for it helped them see the scenario from both sides. I think the best takeaway from this day was that newer team members said they were exposed to scenarios and difficult conversations that they didn’t realize were common. They said they felt more prepared going into client engagements, knowing what to look out for and how to recognize and address potential issues before they escalated.</p>

        <p>Kyle Fiedler, our Chief Design Officer, was inspired by my workshop and saw the need for it throughout the other Thoughtbot offices. Therefore, he developed a roleplaying consulting course that featured the scenarios I created and more. I participate in this course as a team lead, and help facilitate a small group through the different scenarios across its five sessions. I’m so happy that the work I did inspired others to take it and make it even better!</p>
      </div>
      <%= partial "challenges" %>
    </div>
  </div>
</section>

<section class="section-container">
  <%= partial "case-study-list" %>
</section>
