---
title: Jaclyn Perrone - Thoughbot Design Hiring Case Study
type: case study
---

<section class="section-container">
  <div class="section-content">
    <div class="section-content__wrapper">
      <div class="article">
        <div class="section-content__header">
          <h2 class="section-content__heading section-content__heading--case-study">Case study</h2>
          <h2 class="section-content__subheading">Rethinking Our Design Hiring Process to Attract Quality Candidates and Boost Acceptance Rates</h2>
          <h3 class="section-content__client">thoughtbot</h3>
        </div>

        <ul class="tag-list">
          <li class="tag-list__item">🤖 Internal team work</li>
          <li class="tag-list__item">🧠 Strategy lead</li>
          <li class="tag-list__item">💡 Redesign hiring flow</li>
          <li class="tag-list__item">💪 Process overhaul</li>
        </ul>

        <h3 class="article__heading">01. Challenge</h3>
        <p>When I became Design Director of thoughbot's Boston studio, I suddenly had a window into our hiring process. I now had access to the hiring pipeline, and after guiding potential Design candidates through our interview process, I saw some glaring holes and opportunities for improvement.</p>

        <p>There were a few problems I noticed as I became more involved in the process:</p>

        <div class="heading-lockup">
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Problem 1</h5>
            <h4 class="heading-lockup__heading">We evaluated coding skills too late in the process</h4>
          </div>
          <p class="article__indent">First, we weren’t doing a good enough job evaluating candidates’ skills early on in the hiring process. Especially their coding skills. Designers at thoughtbot are also frontend developers, and implementation was a crucial skill that we left to the very end during our third and final interview: the office visit. The day’s long office visit was a big time commitment for everyone involved, and we were getting candidates who sat down to pair on a code base who did not know how to code. I wondered how we could make the office visit more of a formality. That by the time a candidate got to that point, we were 99% sure we wanted to make them an offer.</p>
        </div>

        <div class="heading-lockup">
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Problem 2</h5>
            <h4 class="heading-lockup__heading">The office visit was a departure from how we work</h4>
          </div>
          <p class="article__indent">The office visit also didn’t do a great job at communicating how we work at thoughtbot. In it, a candidate would show up, receive a design prompt, go off on their own to come up with a solution, and then present that solution to the team. It’s just not indicative of how we work. We are a highly collaborative team, and by leaving candidates to their own devices to reappear and present something, we were missing out on evaluating a core designer skill and expectation: facilitation.</p>
        </div>

        <div class="heading-lockup">
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Problem 3</h5>
            <h4 class="heading-lockup__heading">We didn't evaluate facilitation and collaboration</h4>
          </div>
          <p class="article__indent">Designers at thoughtbot collaborate in and facilitate Design Sprints, discussions, planning meetings, and brainstorming sessions. We weren’t evaluating these skills in our interview process. The only time we really talked about their experience and skillset was through a review of their portfolio. These conversations did an okay job at getting a sense for how the candidate approaches problems, but it was passive and left a lot to the imagination in terms of what it would be like to work with this person.</p>
        </div>

        <p>With that in mind, let’s walk through the original Designer interview process:</p>

        <div class="steps steps--og">
          <h3 class="featured-content-heading">Our original hiring flow</h3>
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Step 1</h5>
            <h4 class="heading-lockup__heading">Non-technical interview</h4>
             <div class="heading-lockup__description">The candidate has a conversation with that studio’s Design Director. They talk about themselves, their background, and ask questions about thoughtbot.</div>
          </div>

          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Step 2</h5>
            <h4 class="heading-lockup__heading">Technical interview</h4>
            <div class="heading-lockup__description">The candidate has a second conversation, this time with a Designer from thoughtbot. This is where the candidate takes the Designer through their portfolio, and they talk about their process and outcomes on particular projects they’ve worked on in the past.</div>
          </div>

          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Step 3</h5>
            <h4 class="heading-lockup__heading">Office visit</h4>
            <div class="heading-lockup__description">The candidate comes in for an all day office visit at the studio. They spent half of the day pairing on a coding challenge, and then the other half working on a design challenge.</div>
          </div>
        </div>

        <h3 class="article__heading">02. Process</h3>
        <p>How do we make our hiring process more efficient? How do we evaluate a Designer’s facilitation skills? How do we make the office visit more of a formality, instead of the most revealing part of the interview process?</p>

        <p>I started by researching how other companies hire Designers, and was most inspired by Facebook’s process. In it, they have candidates do a critique of a popular app, to assess how they think and speak about product design. I loved that idea. That’s something we expect Designers to be able to do (especially with clients), but weren’t currently evaluating.</p>

        <div class="heading-lockup heading-lockup--secondary">
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Solution 1</h5>
            <h4 class="heading-lockup__heading">Evaluate coding skills in the first interview</h4>
          </div>

          <p class="article__indent">To start things off, I knew that we had to evaluate a candidate’s implementation skills earlier on in the pipeline, and not leave it to the very end during the office visit. Therefore, I created an
            <%= link_to(
              "HTML/CSS assessment in CodePen",
              "https://codepen.io/thoughtbot/full/zREYpL/",
              :class => "anchor-reset",
              :target => "_blank"
              ) %>
          to be used in the first interview. This would give us a better idea of a candidate’s comfort level with code at the very beginning, before moving on to the next step.</p>
        </div>

        <div class="heading-lockup heading-lockup--secondary">
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Solution 2</h5>
            <h4 class="heading-lockup__heading">Replace the portfolio review with exercises</h4>
          </div>
          <p class="article__indent">From here, I wanted to replace the portfolio review with something more active and creative. This is where the app critique came in. I figured we could also combine this critique with another activity: the code pairing exercise. This would enable us to remove the pairing exercise from the office visit, which would free up time on that day for facilitation and collaboration. Also, by assessing these skills and actually seeing the candidate work through problems and activities, we would have a much better idea of whether or not we’d like to make them an offer <em>before</em> they come in for the all day office visit.</p>
        </div>

        <div class="heading-lockup heading-lockup--secondary">
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Solution 3</h5>
            <h4 class="heading-lockup__heading">Use the office visit to showcase how we work</h4>
          </div>

          <p class="article__indent">This leads us to the office visit. One thing that was awkward about them was that our Designers roleplayed as a fictitious client when presenting our design prompt. This was so unnatural, and again, not illustrative of how we really work. And the roleplaying element added in some extra confusion that we could do without. Therefore, I proposed that we presented design challenges that we actually experience at thoughtbot. Challenges around our investment days, team outings, summer summits, office space, plant care, etc. I figured this way, our Designers wouldn’t have to act anymore, for they could truthfully speak to the pain points outlined in the prompts. Also, this would allow other members of the team (office managers, developers) to easily participate in the day as well.</p>

          <p class="article__indent">By using a challenge that our design team actually experiences, the candidate can now come in and facilitate a series of exercises to help us solve the problem together. This would be treated as a mini Design Sprint, and would be representative of how we work together as a team. It would also give us a very clear idea of what it would be like to work with this person, for we would actively be working with them throughout the day.</p>
        </div>

        <h3 class="article__heading">03. Outcome</h3>

        <p>Once I outlined these potential changes, I got together with Kyle, our Chief Design Officer, and hashed out a plan of action. After a couple hours we came up with a new interview process that better evaluated our candidates’ skills based on the expectations we have for Designers. We incorporated the above changes I proposed, and came up with a first version that we implemented and kept iterating on.</p>

        <p>Overtime we consolidated steps, addressed pain points, cleared up confusions, and tweaked language. We started reviewing a candidate's portfolio internally before moving them forward to the first interview. We also created scorecards to be filled out after each interview step to reduce bias and maintain objectivity in our process.</p>

        <p>After several months of iterating on our hiring process throughout all our offices, we settled on the following flow external to our candidates:</p>


        <div class="steps steps--new">
          <h3 class="featured-content-heading">Our new hiring flow</h3>
          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Step 1</h5>
            <h4 class="heading-lockup__heading">Process interview</h4>
             <div class="heading-lockup__description">The candidate has a conversation with that studio’s Design Director. They talk about themselves, their background, and ask questions about thoughtbot. This holds the same intent as the original non-technical interview, but an HTML/CSS assessment is added at the end to assess their comfort level with code.</div>
          </div>

          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Step 2</h5>
            <h4 class="heading-lockup__heading">Skill interview</h4>
            <div class="heading-lockup__description">A combination of both an app critique and a small design implementation pairing exercise.</div>
          </div>

          <div class="heading-lockup__item">
            <h5 class="heading-lockup__subheading">Step 3</h5>
            <h4 class="heading-lockup__heading">Office visit</h4>
            <div class="heading-lockup__description">A full-day design challenge to solve a problem internal to thoughtbot. Here the candidate is encouraged to use Product Design Sprint exercises in combination with some light user research to help guide the design team towards a potential solution.</div>
          </div>
        </div>

        <p>We are still making improvements to this day, like using a more rigorous HTML/CSS assessment and incorporating more design challenges. Overall, these improvements have been so overwhelmingly positive for our team, and has led to a higher conversation rate of office visit to offers extended. We feel so much more confident in our process, and trust that it will continue to evolve as our needs change overtime.</p>

        <p>For additional reading, feel free to
          <%= link_to(
            "check out Kyle’s write-up on thoughtbot’s blog",
            "https://thoughtbot.com/blog/redesigning-how-we-hire-designers-at-thoughtbot",
            :class=>"anchor-reset",
            target: "_blank"
            ) %>.
        </p>
      </div>
      <%= partial "challenges" %>
    </div>
  </div>
</section>

<section class="section-container">
  <%= partial "case-study-list" %>
</section>
