// Breakpoints
$small-screen: 600px;

// Typography
$base-font-family: "Work Sans", "Helvetica", sans-serif;
$heading-font-family: $base-font-family;
$subheading-font-family: $base-font-family;
$number-font-family: "Lato", sans-serif;

// Font Sizes
$base-font-size: 1.1em;
$small-font-size: $base-font-size * 0.75;
$medium-font-size: $base-font-size * 1.125;

// Border Radius
$base-border-radius: 2px;

// Font Weights
$base-font-weight: 300;
$strong-font-weight: 500;
$black-font-weight: 700;

// Line height
$heading-line-height: 1.5;
$subheading-line-height: 1.3;
$base-line-height: 1.7;

// Spacing
$base-spacing: 1rem;
$large-spacing: 1.5rem;
$xlarge-spacing: 2rem;
$xxlarge-spacing: 4rem;
$medium-spacing: 0.75rem;
$small-spacing: 0.5rem;
$xsmall-spacing: 0.25rem;
$section-spacing: 4rem;

// Colors
$blue: #4dacb8;
$dark-gray: #333;
$super-light-gray: #f9f9f9;
$light-pink: #fff9f8;
$light-gray: #e4e4e4;
$gray: #666;
$orange: #f8af06;
$white: #fff;
$salmon: #fd5b30;
$black: #000;
$yellow: #f7ce47;
$ice-blue: #fafbff;
$dusty-purple: #7e72a5;
$dusty-blue: #708dc3;

$base-body-color: $dark-gray;
$copy-dimmed: $gray;

$primary-tint: $salmon;
$secondary-tint: $blue;

$action-color: shade($primary-tint, 10%);
$action-color-hover: shade($primary-tint, 20%);

$first-stop: tint($primary-tint, 75%);
$second-stop: tint($primary-tint, 50%);
$third-stop: tint($primary-tint, 25%);
$fourth-stop: tint($primary-tint, 0%);
$fifth-stop: tint($primary-tint, 0%);

// Animations
$base-duration: 150ms;
$base-timing: ease;
