.about-page {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.about-page__copy {
  color: $medium-gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: $base-font-size;
  padding: $large-spacing;

  p {
    margin-bottom: $large-spacing;
  }

  @include grid-media($neat-grid-medium) {
    font-size: $copy-font-size;
    padding: $large-spacing $xlarge-spacing;
  }
}

.about-page__image {
  @include size(100px);
  margin: 0 auto $base-spacing auto;
}
