.full-page {
  flex: 1;
  margin: $small-spacing;

  @include grid-media($neat-grid-medium) {
    display: flex;
  }
}

.full-page__content {
  @include grid-media($neat-grid-medium) {
    align-self: center;
    flex: 1;
  }
}
