.gallery-nav-list {
  @include position(absolute, null -10px null null);
  display: flex;
  justify-content: space-around;
  max-height: 0;
  opacity: 0;
  transition: all $base-duration $base-timing;
  visibility: hidden;

  @include grid-media($neat-grid-medium) {
    .gallery-is-open & {
      visibility: visible;
      opacity: 1;
      max-height: 100px;
    }
  }

  @include grid-media($neat-grid-large) {
    right: -3px;
    margin-top: $small-spacing;
  }

}

.gallery-nav-list__item {
  cursor: pointer;
  opacity: 0.1;
  transition: all $base-duration $base-timing;
  visibility: visible;

  .gallery-is-open & {
    opacity: 1;
  }
}

@mixin inactiveGalleryNavItem {
  opacity: 0.1;
    cursor: not-allowed;

    &:hover svg {
      stroke: $action-color;
    }
}

.gallery-nav-list__item--prev {
  .gallery-shows-first & {
    @include inactiveGalleryNavItem;
  }
}

.gallery-nav-list__item--next {
  padding: 0 $large-spacing 0 $base-spacing;

  .gallery-shows-last & {
    @include inactiveGalleryNavItem;
  }
}
