.gallery-list {
  box-shadow: -55px 1px 164px -58px rgba($mauve, 0.3);
  display: flex;
  flex-wrap: wrap;
}

.gallery-list__image {
  border-radius: $base-border-radius;
  display: block;
  object-fit: cover;
  width: 100%;

  @include grid-media($neat-grid-medium) {
    height: 100%;

    .active & {
      height: auto;
      object-fit: contain;
    }
  }
}

.gallery-list__item {
  cursor: pointer;
  margin: 0.1%;

  @include grid-media($neat-grid-medium) {
    &::before {
      content: "";
      float: left;
      padding-top: 100%;
    }
  }
}

.gallery-list__item--artwork {
  width: 100%;

  @include grid-media($neat-grid-medium) {
    width: 19.8%;

    &::before {
      content: "";
      float: left;
      padding-top: 100%;
    }

    &.active {
      width: 100%;

      &::before {
        padding-top: 0;
      }
    }

    .gallery-is-open &:not(.active) {
      display: none;
    }
  }
}

.gallery-list__item--about {
  cursor: default;
  position: relative;
  width: 19.8%;

  &::after {
    @include position(absolute, 0);
    background: #ffb100;
    content: "";
    opacity: 0.2;
  }

  @include grid-media($neat-grid-large) {
    width: 49.8%;
  }
}
