.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list--about {
  // width: 50%;
}

.gallery-list__image {
  border-radius: $base-border-radius;
  display: block;
  object-fit: cover;
  width: 100%;

  @include grid-media($neat-grid-medium) {
    height: 100%;

    .active & {
      height: auto;
      object-fit: contain;
    }
  }
}

.gallery-list__item {
  cursor: pointer;
  margin: $gallery-margin;
  width: 100%;

  @include grid-media($neat-grid-medium) {
    width: 24.5%;

    &::before {
      content: "";
      float: left;
      padding-top: 100%;
    }

    &.active {
      width: 100%;

      &::before {
        padding-top: 0;
      }
    }

    .gallery-is-open &:not(.active) {
      display: none;
    }
  }
}

.gallery-list__item--about {
  @include grid-media($neat-grid-medium) {
    width: 32.5%;
  }
}
