.site-header-list {
  display: flex;
  justify-content: center;
  opacity: 1;
  position: relative;
  transition: all $base-duration $base-timing;
  visibility: visible;

  @include grid-media($neat-grid-medium) {
    .gallery-is-open & {
      opacity: 0;
      visibility: hidden;
    }
  }

  @include grid-media($neat-grid-large) {
    flex-direction: column;
  }
}

.site-header-list__item {
  font-size: 4.5vw;
  padding-left: $large-spacing;

  a {
    font-family: "Oswald", sans-serif;
  }

  &.active {
    a {
      border-bottom: 1px solid $active-color;
      color: $active-color;
    }
  }

  @include grid-media($neat-grid-medium) {
    font-size: 2.5vw;
    padding-left: $xlarge-spacing;
  }

  @include grid-media($neat-grid-large) {
    font-size: 1.5vw;
    padding: 0;

    a {
      align-items: center;
      display: inline-flex;

      &::before {
        @include size(15px 10px);
        content: "";
      }
    }

    &.active {
      a {
        border: 0;

        &::before {
          background: image-url('icon--active.svg') no-repeat center center;
        }
      }
    }
  }
}
