.site-header {
  @include transition(all $base-duration $base-timing);
  margin: $small-spacing;
  text-align: center;

  @include grid-media($neat-grid-large) {
    align-self: center;
    flex: 1 0 15%;
    padding-right: $base-spacing;
    text-align: right;
  }
}

.site-header__content {
  @include grid-media($neat-grid-medium) {
    display: flex;
    align-items: center;
  }

  @include grid-media($neat-grid-large) {
    display: block;
  }
}

.site-header__heading {
  color: $medium-gray;
  font-family: 'Oswald', sans-serif;
  font-size: $heading-font-size;
  font-weight: 200;

  @include grid-media($neat-grid-medium) {
    padding-right: $medium-spacing;
  }
}

.site-header__back {
  transition: all $base-duration $base-timing;
  cursor: pointer;
  display: none;
}

.site-header__back {
  @include grid-media($neat-grid-large) {
    @include position(absolute, null $medium-spacing null auto);
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 100px;
    z-index: 1;

    .gallery-is-open & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.site-header__back--medium {
  opacity: 0;
  visibility: hidden;
  width: 0;

  @include grid-media($neat-grid-medium) {
    display: block;

    .gallery-is-open & {
      visibility: visible;
      opacity: 1;
      width: 60px;
      margin-right: $base-spacing;
    }
  }

  @include grid-media($neat-grid-large) {
    display: none;
  }
}

.site-header__nav {
  position: relative;
}
