.site-header {
  @include position(fixed, 0 0 null 0);
  @include transition(all $base-duration $base-timing);
  background-color: $white;
  box-shadow: 0px 10px 68px -26px rgba($mauve, 0.3);
  padding: $large-spacing;
  z-index: 1;

  &.header-is-reduced {
    padding: $small-spacing;
  }

  @include grid-media($neat-grid-medium-only) {
    .gallery-is-open & {
      background-color: $light-mauve;
    }
  }

  @include grid-media($neat-grid-large) {
    @include position(fixed, 0 null 0 null);
    background-color: transparent;
    box-shadow: none;
    padding: 0 $large-spacing 0 0;
    text-align: right;
    width: 22%;

    &.header-is-reduced {
      padding: 0 $large-spacing 0 0;
    }
  }
}

.site-header-placeholder {
  display: none;

  @include grid-media($neat-grid-large) {
    display: block;
    flex: 1 0 15%;
  }
}

.site-header__content {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  @include grid-media($neat-grid-large) {
    display: block;
    flex: 1;
  }
}

.site-header__container {
  @include grid-media($neat-grid-large) {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

.site-header__heading {
  color: $medium-gray;
  flex: 1;
  font-family: "Oswald", sans-serif;
  font-size: 7.5vw;
  font-weight: 200;
  margin-bottom: 0;

  a {
    font-weight: 200;
  }

  @include grid-media($neat-grid-medium) {
    font-size: 4vw;
  }

  @include grid-media($neat-grid-large) {
    font-size: 3vw;
    margin-bottom: $small-spacing;
  }
}

.site-header__nav {
  position: relative;
}
