.site-header {
  @include transition(all $base-duration $base-timing);
  padding: $large-spacing;
  // text-align: center;

  @include grid-media($neat-grid-large) {
    // align-self: center;
    flex: 1 0 15%;
    padding: 0 $large-spacing 0 0;
    text-align: right;
  }
}

.site-header__content {
    display: flex;
    // align-items: center;
    align-items: flex-end;
    justify-content: space-between;

    @include grid-media($neat-grid-medium) {
      align-items: center;
      // align-items: center;
      // align-items: flex-end;
      // justify-content: flex-start;
    }

  @include grid-media($neat-grid-large) {
    display: block;
    flex: 1;
  }
}

.site-header__container {
  @include grid-media($neat-grid-large) {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.site-header__heading {
  color: $medium-gray;
  font-family: "Oswald", sans-serif;
  font-size: $large-font-size;
  font-weight: 200;
  padding-right: $medium-spacing;
  margin-bottom: 0;
  flex: 1;

  a {
    font-weight: 200;
  }

  @include grid-media($neat-grid-medium) {
    font-size: $heading-font-size;
  }

  @include grid-media($neat-grid-large) {
    font-size: 3vw;
    margin-bottom: $small-spacing;
  }

  @include grid-media($neat-grid-xlarge) {
    
  }
}

.site-header__back {
  transition: all $base-duration $base-timing;
  cursor: pointer;
  display: none;
}

.site-header__back {
  @include grid-media($neat-grid-large) {
    @include position(absolute, null $medium-spacing null auto);
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 100px;
    z-index: 1;

    .gallery-is-open & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.site-header__back--medium {
  // opacity: 0;
  // visibility: hidden;
  // width: 0;

  @include grid-media($neat-grid-medium) {
    // display: block;
    opacity: 0;
    visibility: hidden;
    width: 0;

    .gallery-is-open & {
      visibility: visible;
      opacity: 1;
      width: 60px;
      margin-right: $base-spacing;
    }
  }

  @include grid-media($neat-grid-large) {
    display: none;
  }
}

.site-header__nav {
  position: relative;
}
