.site-header-list {
  display: flex;
  justify-content: center;
  opacity: 1;
  position: relative;
  transition: all $base-duration $base-timing;
  visibility: visible;

  @include grid-media($neat-grid-medium) {
    .gallery-is-open & {
      opacity: 0;
      visibility: hidden;
    }
  }

  @include grid-media($neat-grid-large) {
    flex-direction: column;
  }
}

.site-header-list__item {
  position: relative;
  font-size: $medium-font-size;
  padding-left: $large-spacing;

  a {
    font-family: "Oswald", sans-serif;
  }

  &.active {
    a {
      border-bottom: 1px solid $active-color;
      color: $active-color;
    }
  }

  @include grid-media($neat-grid-medium) {
    font-size: 1.25rem;
    padding-left: $xlarge-spacing;
  }

  @include grid-media($neat-grid-large) {
    font-size: 1.5vw;
    padding: 0;

    a {
      padding-right: $medium-spacing;
    }

    &.active {
      a {
        color: $active-color;
        border-bottom: 0;
      }

      &::before {
        @include position(absolute, 10px 0 null null);
        border: 1px solid rgba($active-color, 0.8);
        content: "";
        height: 15px;
        transform: skew(150deg);
      }
    }
  }
}
