.site-content {
  flex: 1;
  margin: $xsmall-spacing;

  @include grid-media($neat-grid-large) {
    flex: 1 1 70%;

    .gallery-is-open & {
      align-self: center;
      box-shadow: -55px 1px 164px -58px rgba($mauve, 0.3);
    }
  }
}
