<footer>
  <section class="section-container">
    <div class="section-content section-content--footer">
      <div class="footer__content footer__content--image">
        <%= image_tag "bio-design.jpg",
            :class=>"footer__image" %>
      </div>
      <div class="footer__content footer__content--copy">
        <p>I am artist, musician, and designer with 12+ years experience in Product/UX/Visual Design and User Research – including 5+ years in a leadership role, and 10+ years in a consulting role. I specialize in taking an idea and turning it into a meaningful user flow by initiating and incorporating feedback from users, teammates, and stakeholders.</p>

        <p>I started my career as a self-taught front-end developer, building websites for clients at a boutique agency in Manhattan. After a while, I realized I was more interested in the "why" of what was being built, rather than the "how." This marked the start of my design career, which propelled me through various roles over the years. I've been a designer, researcher, salesperson, director, mentor, facilitator, community organizer, and manager for all sorts of clients, teams, and companies.</p>

        <p>While I've worn many hats, my curiosity and love for people are the constants that drive my passion for designing meaningful products.</p>

        <p>👋 Looking for a freelance Product/UX Designer? <%= link_to("I can help!","https://www.linkedin.com/in/jaclyniperrone/", class: "anchor-body", target: "_blank") %></p>

        <%= partial "footer" %>

      </div>
    </div>
  </section>
</footer>
