<footer>
  <section class="section-container">
    <div class="section-content section-content--footer">
      <div class="footer__content footer__content--image">
        <%= image_tag "bio-artist.jpg",
            :class=>"footer__image" %>
      </div>
      <div class="footer__content footer__content--copy">
        <p>I am a visual artist based in the greater NYC area, and have been painting and drawing ever since I was a kid. I work with a wide variety of media – ink, pencil, charcoal, pastels, watercolor, gouache, markers, oil paint – and of late I’ve been painting digitally and taking pottery classes. My work has evolved over the years, and is inspired by the personalities and pecularities of the neighborhoods that surround me. I also lead a double life in the tech-world, and currently work as a Senior Product Designer at Groups Recover Together.</p>

        <p>I recreate places from memory. Some are of the whimsical and playful city streets I walk through everday, while others are of the sublime skies and lush forests that I retreat to. By relying solely on my memory to recreate a place, I strip down the experience to its essence, transcend time, and fill in the details with my imagination. Due to the exaggerations and limitations of memory, I show how the mind skews and distorts a space through recollection.</p>

        <%= partial "footer" %>

      </div>
    </div>
  </section>
</footer>
