<div class="takeaways">
  <h3 class="takeaways__heading">Other challenges I’m noodling on</h3>
  <ul class="section-sub__list">
    <li class="item-details item-details--takeaways">
      <span class="item-details__number">01.</span>
        <div class="item-details__copy">
          <div class="item-details__header">
            <h4 class="takeaways__subheading">Selling design work</h4>
          </div>
         <ul>
          <li>What are more efficient ways to staff designers on projects?</li>
          <li>The terms “designer” and “developer” are full of preconceived notions. How might we present our team roles more accurately and without bias?</li>
          <li>How might we apply value based pricing to our design work?</li>
        </ul>
        </div>
    </li>
    <li class="item-details item-details--takeaways">
      <span class="item-details__number">02.</span>
        <div class="item-details__copy">
          <div class="item-details__header">
            <h4 class="takeaways__subheading">Reduce cognitive load on designers</h4>
          </div>
          <ul>
            <li>How might we empower developers to co-facilitate Product Design Sprints?</li>
            <li>How might we empower developers to conduct user research alongside designers?</li>
          </ul>
        </div>
    </li>
    <li class="item-details item-details--takeaways">
      <span class="item-details__number">03.</span>
        <div class="item-details__copy">
          <div class="item-details__header">
            <h4 class="takeaways__subheading">Innovation Workshop as a service</h4>
          </div>
          <ul>
            <li>How might we help clients facilitate meaningful conversations with their customers?</li>
            <li>How can we help clients better align their product to their customers' needs?</li>
            <li>How can we leverage user interviews to strengthen a company's brand, reduce churn, and win new business?</li>
          </ul>
        </div>
    </li>
  </ul>
</div>
