<div class="site-social">
  <div class="site-social__sticky">
    <ul class="site-social__list list--contact">
      <li>
        <% link_to(
          "https://www.linkedin.com/in/jaclyniperrone/",
          target: "_blank",
          rel: "LinkedIn") do %>
          <%= image_tag "icon__linkedin.png",
            :class => "site-social__icon",
            :alt => "LinkedIn" %>
        <% end %>
      </li>
      <li>
        <% link_to(
          "https://github.com/jaclynperrone",
          target: "_blank",
          rel: "GitHub") do %>
          <%= image_tag "icon__github.png",
            :class => "site-social__icon",
            :alt => "GitHub" %>
        <% end %>
      </li>
      <li>
        <% link_to(
          "https://www.instagram.com/jaclynperr",
          target: "_blank",
          rel: "Instagram") do %>
          <%= image_tag "icon__instagram.png",
            :class => "site-social__icon",
            :alt => "Instagram" %>
        <% end %>
      </li>
      <li>
        <% link_to(
          "mailto:hello@jaclynperrone.com",
          target: "_blank",
          rel: "Email") do %>
          <%= image_tag "icon__email.png",
            :class => "site-social__icon",
            :alt => "Email" %>
        <% end %>
    </ul>
  </div>
</div>
