<section class="section-container section-container--musician">
  <div class="section-content">
    <h2 class="section-content__heading section-content__heading--tilt">Musician</h2>

    <section class="section-sub section-sub--tilt">
      <h3>Bands</h3>
      <ul class="list-bands">
        <li><%= link_to(
            "The Planes",
            "https://theplanesnyc.bandcamp.com/album/wax-diamond",
            target: "_blank"
            ) %><span>, bassist</span>
          <div class="item-details">Brooklyn, 2016 - 2017</div>
        </li>
        <li><%= link_to(
            "Twiga",
            "https://twiga.bandcamp.com/",
            target: "_blank"
            ) %><span>, bassist</span>
          <div class="item-details">Brooklyn, 2014 - 2017</div>
        </li>
        <li><%= link_to(
            "Boxford",
            "https://thehungry.bandcamp.com/",
            target: "_blank"
            ) %><span>, bassist</span>
          <div class="item-details">Brooklyn, 2013 - 2014</div>
        </li>
      </ul>
    </section>
  </div>
</section>
