<header class="section-container section-container--hero">
  <div class="section-content">
    <h1><%= link_to(
      "JACLYN PERRONE",
      "/",
      :class => "anchor-reset anchor-reset--home"
      ) %>
    </h1>
  </div>
</header>
