<header class="site-header">
  <h1 class="site-header__heading">Jaclyn Perrone</h1>
  <nav>
    <ul class="site-header-list">
      <li class="site-header-list__item">
        <%= link_to "Gallery", "index.html" %>
      </li>
      <li class="site-header-list__item">
        <%= link_to "About", "about.html" %>
      </li>
    </ul>
  </nav>
</header>
