---
title: About
---
<section class="site-content full-page about-page">
  <div class="full-page__content">
    <div class="about-page__copy">
      While perched up in my Brooklyn loft amongst the countless abandoned factories and never-ending hard gray landscape, I like to imagine a city where the trees grow as tall as skyscrapers and run as deep as the subway tunnels. I have been living in New York City for the past 10 years, where I spent the first half studying Visual Arts at Fordham University Lincoln Center and the second half working as a web designer and developer in Manhattan.
    </div>
    <div class="about-page__copy">If you would like to commission a painting or drawing, don't hesitate to use the contact form!</div>
  </div>
</section>
