---
title: Jaclyn Perrone
---

<div class="site-wrapper">
  <header class="site-header">
    <div class="outer-container">
      <h1 class="site-header__heading">Jaclyn Perrone</h1>
      <nav>
        <ul>
          <li><%= link_to "Gallery", "#" %></li>
          <li><%= link_to "About", "#" %></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="gallery">
    <ul>
      <li>image</li>
      <li>image</li>
      <li>image</li>
      <li>image</li>
    </ul>
  </section>
</div>
