---
title: Gallery
---
<section class="site-content">
  <div class="gallery">
    <div class="gallery__close">
      <%= partial "/assets/images/icon--back.svg" %>
    </div>
    <ul class="gallery-list">
      <% data.gallery.images.each do |i| %>
        <li class="gallery-list__item"><%=image_tag "#{i}", class: "gallery-list__image" %></li>
      <% end %>
    </ul>
  </div>
</section>
